<!-- index.html -->

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="//unpkg.com/docsify/themes/vue.css" />
  </head>
  <body>
    <div id="app">Hang tight, rendering requests...</div>
    <script>
      window.$docsify = {
        loadSidebar: true,
        basePath: /docs/,
        paths: auto,
        formatUpdated: '{MM}/{DD}/{YYYY} - {HH}:{MM}',
        plugins: [
          function (hook, vm) {
            hook.beforeEach(function (html) {
              if (/githubusercontent\.com/.test(vm.route.file)) {
                url = vm.route.file
                  .replace('raw.githubusercontent.com', 'github.com')
                  .replace(/\/master/, '/blob/master')
              } else {
                url = 'https://gitlab.com/docsifyjs/docsify/blob/master/docs/' + vm.route.file
              }
              var editHtml = '[:memo: Edit Documentation](' + url + ')\n'
              return editHtml
                + html
                + '\n\n----\n\n'
                + '<a href="https://docsify.js.org" target="_blank" style="color: inherit; font-weight: normal; text-decoration: none;">Powered by docsify</a>'
            })
          },
        ]
      }
    </script>
    <script src="//unpkg.com/docsify/lib/docsify.min.js"></script>
  </body>
</html>
